[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=feh --scale-down --image-bg black --start-at %f
Name=feh
Comment=Custom definition for feh
